{
  "parser": "babel-eslint",
  "extends": [
    "prettier",
    "prettier/react",
    "airbnb"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    }
  },
  "plugins": ["react", "prettier"],
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
	  "prettier/prettier": "error",
	  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
	  "react/forbid-prop-types": [0, { "forbid": ["any"] }],
	  "react/prop-types": 0,
	  "react/destructuring-assignment": "off",
	  "react/no-unused-state": "off",
	  "react/state-in-constructor": "off",
	  "react/jsx-props-no-spreading": "off",
	  "import/no-extraneous-dependencies": "off",
	  "react/no-array-index-key": "off",
	  "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "object-shorthand": "off",
    "jsx-a11y/control-has-associated-label": "off"
  }
}